@using System.Diagnostics

@{ var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First(); }

<div>
    <div class="welcome-page">
        <h1>
            <img src="~/icon.jpg">
            Welcome to IdentityServer4
            <small class="text-muted">(version @version)</small>
        </h1>

        <ul>
            <li>
                IdentityServer publishes a
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </li>
            <li>
                Click <a href="~/diagnostics">here</a> to see the claims for your current session.
            </li>
            <li>
                Click <a href="~/grants">here</a> to manage your stored grants.
            </li>
            <li>
                Here are links to the
                <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
                and <a href="https://github.com/IdentityServer/IdentityServer4/tree/main/samples">ready to use samples</a>.
            </li>
        </ul>
    </div>

    <div class="management-section">
        <h1>
            Identity Manager
        </h1>

        <ul>
            <li>
                @Html.ActionLink("Create user", "Create", "Operations", null, null)
            </li>
            <li>
                @Html.ActionLink("Create role", "CreateRole", "Operations", null, null)
            </li>
        </ul>
    </div>
</div>
