﻿@model int

@using (Html.BeginForm("AddItemToCategory", "CallApi"))
{
    <div class="s1">
        <div>Name</div>
        @Html.TextBox("Name")
       
    </div>
    <div class="s1">
        <div>Image</div>
        @Html.TextBox("Image")
    </div>
    <div class="s1">
        <div>Description</div>
        @Html.TextBox("Description")      
    </div>
    <div class="s1">
        <div>Price</div>
        @Html.TextBox("Price")      
    </div> 
    <div class="s1">
        <div>Amount</div>
        @Html.TextBox("Amount")      
    </div>
    <div class="s1" style="display: none">
        @Html.TextBox("Parent.Id", @Model)      
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
}