@using Task3_1.Api.Contract
@model List<Task3_1.Api.Contract.Item>

@{ ViewBag.Title = "Categories";
   Layout = "_Layout";
    //var categories = new Dictionary<int, Item>();
    var categories = Model
        .GroupBy(x => x.Parent.Id, x => x)
        .ToDictionary(x => x.Key, x => x.ToList());
}

<table class="table table-striped">
    @foreach (var categoryItems in categories)
    {
        var category = categoryItems.Value.First().Parent;
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>@category.Image</td>
            <td> Items:  <ul>
                @foreach (var item in categoryItems.Value)
                {
                   
                    <li>
                        <p>Name: <i>@item.Name</i></p>
                        <p>Image: <i>@item.Image</i></p>
                        <p>Description: <i>@item.Description</i></p>
                        <p>Price: <i>@item.Price</i></p>
                        <p>Amount: <i>@item.Amount</i></p>
                    </li>
                }
                </ul>
            </td>
            <td>@Html.ActionLink("Add item to the category", "AddItemToCategory", "CallApi", new {                                                     // routeValues
               categoryId = category.Id}, null)</td>
        </tr>
    }
    </table>
