﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Html.ActionLink("My Claims", "Claims", "CallApi", null, null)
    <span> | </span>
    @Html.ActionLink("Get categories", "GetItems", "CallApi", null, null)
</div>